# Neon PostgreSQL Database Connection URL
DATABASE_URL="postgresql://user:password@ep-sample-host.neon.tech/neondb?sslmode=require"

# NextAuth Configuration
NEXTAUTH_SECRET="kDYwj4k4u/L7vNt8pNkoeLITRc0naKsDBoEDskEqsWc="
NEXTAUTH_URL="https://ascend-two-blond.vercel.app"
